In [1]:
#Variable Assgnments

#Python using dynamic typing
# num = 2 then can assign num = ["name","grade"]
#in C++ that will be 'int assign_name' then cannot change the data type in the rest of the code

a = 5

In [2]:
a

5

In [3]:
a = 10

In [4]:
a

10

In [5]:
a + a

20

In [6]:
a = a + a

In [7]:
a

20

In [8]:
type(a)

# 'type' can check what the type of a variable
# the 'int' is a special build in name that cannot be assigned to variables

int

In [9]:
my_income = 100
tax_rate = 0.1

my_taxes = my_income*tax_rate

In [10]:
my_taxes

10.0

In [11]:
#Strings: Strings are ordered sequences that can use indexing and slicing to grab
#sub-section. That can be use sigle or double quote. 

#!!!! String in Python is Immutability which means that cannot reassign new char in a string

#Index start with zero just like other languages
#example: hello the index[0] is h
#also reverse index is available that index that -1 represents the last char but the index[0] is still the first char

#Slicing: [Start:stop:step]

#example print string

print("hello")

hello

In [12]:
# Create string to reassign string

name = "Sam"

In [13]:
name

'Sam'

In [14]:
last_letters = name[1:]

In [15]:
last_letters

'am'

In [16]:
'P' + last_letters

'Pam'

In [17]:
x = 'Hello World'
x + " This is a wonderful world"

#String is also can assigned to a variable
# Ex. x = x + "String"

'Hello World This is a wonderful world'

In [18]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [19]:
2 + 3

5

In [20]:
'2' + '3'

#string will not be add 2 and 3. Instead of that will combined 2 and 3 in a string

'23'

In [21]:
x = 'Hello World'
x.upper()

# upper() is a build in funciton in Python
#if forgot () then that will print out the help info

'HELLO WORLD'

In [23]:
x = 'This is a string'
x.split()

# split() will make the string to be a list

x.split('i') #split by a specific letter

['Th', 's ', 's a str', 'ng']

In [28]:
#formatting strings

#.format() method
# f-string method

#.format() method

print('This is a string {}'.format('INSERTED'))
# The .format will grab the string to insert into the {}

#String is also can insert in index position
#Ex.

print('The {2} {1} {0}'.format('fox','brown','quick'))

# Another ex.using the keyword method

print('The {q} {b} {f}'.format(f = 'fox', b = 'brown', q = 'quick'))

This is a string INSERTED
The quick brown fox
The quick brown fox

In [30]:
# Float formatting follows "{value:width.precision f}"

result = 100/777

print('The result was {r:1.3f}'.format(r = result))

# {r:1.3f} r is the value, 1 is the width that is how wide that string will be, 
#the .3f that is the how many digits after the decimal point

The result was 0.129

In [36]:
name = "Jose"

print(f'Hello, his name is {name}')

# f is the f-string in python that print the string directly without using .format

new_name = 'Sam'
age = 3

print(f'{new_name} is {age} years old.')

Hello, his name is Jose
Sam is 3 years old.

In [52]:
# List in Python
#Support indexing and slicing

#list can mix string and numbers
mylist = ['String',100,23.2]
mylist

mylist = ['one','two','three']
mylist[0] #print one 
mylist[1:] 

#list can be combined

another_list = ['four','five']

new_list = mylist+ another_list
new_list

# to change an element in list by using indexing

new_list[0] = 'TEST'
new_list.append('six') # to add the item 'six' at the end of a list
new_list

# remove item from a list
new_list.pop() #that popped the lastest element in a list

new_list.pop(0) #pop is also can remove specific item by using index


newest_list = ['a','e','x','b','c']
num_list = [4,1,3,2]

newest_list.sort()
newest_list

#the sort() cannot assigned to a variable
#Ex. my_sorted_list = newest_list.sort() since the soft() is a None type
# do this instead
my_sorted_list = newest_list
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [1]:
#Discionaries are using {} with key value pair mapping. Dict unordered and cannot be sorted
#Just need to know the key value without the index location in list

In [2]:
my_dict = {'key1':'value','key2':'value2'}

In [3]:
my_dict['key1']

'value'

In [4]:
price_lookup = {'apple':2.99, 'orange':1.99,'milk':5.00} #the data type that dict can hold is not limited to numbers

In [5]:
price_lookup['apple'] #just quickly know the value

2.99

In [6]:
d = {'k1':123, 'k2':[0,1,2],'k3':{'insideKey':100}}

In [7]:
d['k2']

[0, 1, 2]

In [9]:
d['k3']['insideKey'] #a key inside a key that is allowed but might not common

100

In [10]:
d = {'key1':['a','b','c']}

In [11]:
mylist = d['key1']

In [12]:
mylist

['a', 'b', 'c']

In [13]:
letter = mylist[2]

In [14]:
letter

'c'

In [15]:
d['key1'][2].upper() #to call in one line

'C'

In [16]:
d['k3'] = 300 #add directly to a dict

In [17]:
d

{'key1': ['a', 'b', 'c'], 'k3': 300}

In [18]:
d.keys() #return keys

dict_keys(['key1', 'k3'])

In [20]:
d.values() #return values

dict_values([['a', 'b', 'c'], 300])

In [21]:
d.items() #return tuples

dict_items([('key1', ['a', 'b', 'c']), ('k3', 300)])

In [22]:
#Tuples ---> Similar to list but Tuples are cannot be changed which means immutable
#Once the element is inside a tuple it cannot be reassgined

t = (1,2,3)
mylist = [1,2,3]

In [23]:
len(t)
len(mylist)

3

In [24]:
t = ('one',2)

In [25]:
t

('one', 2)

In [26]:
t[0]

'one'

In [27]:
#index method and count method

#count method
t = ('a','a','b')
t.count('a')

2

In [28]:
t.index('a') #very first time that a apear in a tuple --> index position

0

In [29]:
mylist[0] = 'NEW' #reassign

In [30]:
mylist

['NEW', 2, 3]

In [31]:
t[0] = 'NEW' #tuple cannot be reassign

TypeError: 'tuple' object does not support item assignment

In [32]:
#Sets in Python

myset = set()

In [33]:
myset

set()

In [34]:
myset.add(1) #add element, the ()sames like dict but there is no key value

In [35]:
myset

{1}

In [36]:
myset.add(2)
myset.add(2) #the set only accept unique values

In [37]:
myset

{1, 2}

In [38]:
mylist = [1,1,1,1,1,1,2,2,2,2,2,3,3,3,3]

In [39]:
set(mylist) # set do not have order build in, there is no order in set

{1, 2, 3}

In [41]:
#Boolean in Python, in Python, Ture or False is have to be capitalized


False

False

In [42]:
1 > 2

False

In [46]:
1 == 1

True

In [50]:
#File I/O

%%writefile testfile.txt

Hello this is a text file 
this is the second line 
this is the third line

SyntaxError: invalid syntax (<ipython-input-50-f4b8bf2b444c>, line 5)

In [51]:
pwd

'C:\\Users\\leedz'

In [3]:
#if else control flow
if True:
    print('ITS True')

ITS True

In [7]:
hungry = True

if hungry:
    print('FEED ME')

else:
    print('I am not hungry')

FEED ME

In [10]:
loc = 'bank'

if loc == 'dealer':
    print('Cars are cool')
elif loc == 'bank':
    print('money is cool')
else:
    print('No where')

money is cool

In [11]:
name = 'lee'

if name == 'frank':
    print('Hello frank')
elif name == 'lee':
    print('Hello lee')
else:
    print('what is your name')

Hello lee

In [13]:
#For loop iterate over the object

mylist = [1,2,3,4,5,6,7,8,9,10] #statement assignment

for i in mylist: #for i in the mylist
    print(i)

1
2
3
4
5
6
7
8
9
10

In [17]:
for i in mylist:
    #check for the even
    if i%2 == 0:
        print(i)
    else:
        print(f'Odd number{i}')

Odd number1
2
Odd number3
4
Odd number5
6
Odd number7
8
Odd number9
10

In [19]:
list_sum = 0

for i in mylist:
    list_sum = list_sum + i

print(list_sum)

55

In [21]:
mystring = 'hello world'

for letter in mystring: #letter could be anything to assign a variable name
    print(letter) #if do not want to use a variable name then just user understore

h
e
l
l
o

w
o
r
l
d

In [22]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [2]:
mylist = [(1,2),(3,4),(5,6),(7,8)] #list with tuple paires

In [3]:
len(mylist) #4 tuples in the list

4

In [4]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [5]:
for a,b in mylist:
    print(b)

2
4
6
8

In [6]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [7]:
for a,b,c in mylist:
    print(b)

2
5
8

In [8]:
d = {'k1':1,'k2':2,'k3':3}
for i in d:
    print(i) #by default that for loop interate to the keys
    #use .items() that will print out the pair of dict
    #.value() to print out the value

k1
k2
k3

In [3]:
#while loops - continue to execute a block of code while some condition remains Ture

x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1 #if without this line of code that will run forever since x is 0 that x < 5 is always true

else:
    print('X is not less that 5') #when the x is reach to 5 then this else condition will be triggered

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X is not less that 5

In [4]:
# break, continue, pass
#break: breaks out of the current closest enclosing loop
#continue: goes to the top of the closest enclosing loop
#pass: does nothing at all

x = [1,2,3]

for i in x:
    pass #do nothing just run the empty function. Most of time as a placeholder

In [8]:
mystring = 'lee'

for letter in mystring:
    if letter  == 'l':
        #continue #tell problem to the top of the enclosing loop
        break #break and stop the loop when  the letter is l in this case
    print(letter)

In [10]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [11]:
#range function

mylist = [1,2,3]

In [14]:
for num in range(3,10,2): #start with a number, the third argument is the step
    print(num) #generate number from 0 - 9 not include 10

3
5
7
9

In [16]:
index_count = 0

for letter in 'abcde':
    print('at index {} the letter is {}'.format(index_count,letter))

at index 0 the letter is a
at index 0 the letter is b
at index 0 the letter is c
at index 0 the letter is d
at index 0 the letter is e

In [17]:
word = 'abcde'

for item in enumerate(word): #use built in enumerate function to count index by using tulple
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [19]:
# zip function

mylist1 =[1,2,3,4,5,6] #zip together the shorter, the extra uneven chars will ignore
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [20]:
'x' in [1,2,3]

False

In [21]:
'x' in ['x']

True

In [22]:
'a' in 'a world'

True

In [23]:
'mykey' in {'mykey':345}

True

In [26]:
d = {'mykey':345}

In [27]:
345 in d.values()

True

In [28]:
mylist = (10,20,30,40,100)

In [29]:
min(mylist)

10

In [30]:
max(mylist)

100

In [31]:
#import library
from random import shuffle

In [32]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [33]:
shuffle(mylist)

In [34]:
mylist

[3, 10, 1, 8, 4, 5, 6, 2, 9, 7]

In [35]:
from random import randint

In [36]:
randint(0,100)

68

In [37]:
randint(0,100)

80

In [47]:
mynum = randint(0,10)

In [48]:
mynum

6

In [50]:
result = input('Enter a number here: ')

Enter a number here: 30

In [51]:
result

'30'

In [52]:
int(result)

30

In [53]:
mystring = 'hello'

In [54]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [55]:
mylist

['h', 'e', 'l', 'l', 'o']

In [56]:
mylist = [letter for letter in mystring] #

In [57]:
mylist

['h', 'e', 'l', 'l', 'o']

In [58]:
mylist = [x for x in 'word']

In [59]:
mylist

['w', 'o', 'r', 'd']

In [62]:
mylist = [x**2 for x in range(0,11)]

In [63]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [64]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [65]:
mylist

[0, 2, 4, 6, 8, 10]

In [66]:
celcius = [0,10,20,34.5]

In [67]:
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [68]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [1]:
#if else in comprehension but not recommend

result = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [2]:
result

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [3]:
#nested loop

mylist =[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)

In [4]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [5]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [6]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [9]:
#test

st = 'Sam Print only the words that start with s in this sentence'

st.split()

['Sam',
 'Print',
 'only',
 'the',
 'words',
 'that',
 'start',
 'with',
 's',
 'in',
 'this',
 'sentence']

In [10]:
for word in st.split():
    if word[0].lower() == 's':
        print(word)

Sam
start
s
sentence

In [13]:
#use range() to print all the even numbers from 0 to 10

for num in range(0,11):
    if num%2 == 0:
        print(num)

#or list(range(0,11,2)) or for num in range(0,11,2):print(num)

0
2
4
6
8
10

In [14]:
#use a list comprehension 

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [15]:
#print the length of a word is even

st = 'Print every word in this sentence that has an even number of letters'

for word in st.split():
    if len(word)%2 == 0:
        print(word + 'is even')

wordis even
inis even
thisis even
sentenceis even
thatis even
anis even
evenis even
numberis even
ofis even

In [19]:
#FizzBuzz problem
for num in range(1,101):
    if num%3 == 0 and num%5 == 0:
        print('FizzBuzz')
    elif num%3 == 0:
        print('Fizz')
    elif num%5 == 0:
        print('Buzz')
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [21]:
#use list comprehension to create alist of the first letters of every word in the string below

st = 'create a list of the first letters of every word in this string'

[word[0] for word in st.split()]

['c', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [22]:
#methods in Python
mylist = [1,2,3]

In [23]:
mylist.append(4)

In [24]:
mylist

[1, 2, 3, 4]

In [25]:
mylist.pop()

4

In [26]:
mylist

[1, 2, 3]

In [29]:
#create functions in Python

def name_function():
    
    '''
    DOC STRING: Information about the function
    IMPUT: Name
    OUTPUT: Hello
    
    '''
    print('Hello')

In [30]:
name_function() #to call this function

Hello

In [31]:
help(name_function) #to use help function to display the documentation string to let others to know more detail about the code

Help on function name_function in module __main__:

name_function()
    DOC STRING: Information about the function
    IMPUT: Name
    OUTPUT: Hello

In [32]:
def say_hello(name): #can be set the name with a default name name = ''
    print('hello' +  name)

In [34]:
say_hello('lee')

hellolee

In [35]:
def say_hello(name = 'NAME'):
    return 'hello' + name

In [36]:
result = say_hello('lee')

In [37]:
result

'hellolee'

In [38]:
def add(n1,n2):
    return n1 + n2

In [39]:
result = add(20,30)

In [40]:
result

50

In [44]:
#find out if the word 'dog' is in a string?

def dog_check(mystring):
    if 'dog' in mystring.lower():
        return True
    else:
        return False

In [45]:
dog_check('my Dog ran away')

True

In [4]:
#functional prameters  *args and **kwarges

def myfunc(a,b,c=0,d=0,e=0): #a and b a positional arguments
    #accept two numbers
    return sum((a,b,c,d,e))*0.05 #needs to pass as tuple

In [5]:
myfunc(40,60,100)

10.0

In [6]:
def myfunc(*args): #the args can pass as many variable as wants, the arges will perform aas tuples
    return sum(args)*0.05 #the args can be replacement as any phases, but use arges is easy for others to read your code

In [7]:
myfunc(40,60)

5.0

In [1]:
def myfunc(**kwargs):
    if 'fruit' in kwargs: #treat as a dict
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('cannot find any fruits')

In [2]:
myfunc(fruit = 'apple')

my fruit of choice is apple

In [1]:
def myfunc(*args,**kwargs): #all the args first then kwargs
    print('I would like {}{}'.format(args[0],kwargs['food']))

In [3]:
myfunc(10,20,30,food='orange')

I would like 10orange

In [4]:
#practice problems

def lesser_of_two_evens(a,b):
    return min(a,b)

In [5]:
lesser_of_two_evens(2,4)

2

In [8]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [10]:
animal_crackers('level eliama')

False

In [11]:
def makes_twenty(n1,n2):
    if n1 + n2 == 20 or n1 == 20 or n2 == 20:
        return True
    else:
        return False #or use return directly
    # def makes_twenty(n1,n2)
      return (n1+n2)==20 or n1==20 or n2==20

In [15]:
makes_twenty(10,30)

False

In [18]:
def old_macdonald(name): #capitalize the first and fourth char
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short'

In [19]:
old_macdonald('macdonald')

'MacDonald'

In [29]:
#find 33

def has_33(nums):
    for i in range(0, len(nums) -1):
        if nums[i:i+2] == [3,3]:
            return True
    return False

In [30]:
has_33([1,2,3])

False

In [31]:
has_33([1,3,3])

True